/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*nav ul a,*/
.brand-logo {
color: white;
left: 56px;
}

nav ul {
    position: absolute;
    right: 24px;
}

nav .material-icons {
    color: black;
    position: relative;
    float: right;
    margin-top: -14px;
}

.override .material-icons {
    color: inherit;
    position: inherit;
    float: inherit;
    margin-top: inherit;
}

.override div {
    text-align: inherit;
}

nav.material-icons:hover {
    cursor: pointer;
    background-color: red;
}

nav .search {
    position: absolute;
    left: 230px;
    width: 300px;
    height: 35px;
    top: 10%;
}

nav .input-field label.active i {
    color: #424242;
}

.menu:hover {
    background-color: #90CAF9;
}

nav .container {
    width: 100%;
}

nav .container-1, .container-1 input#search:focus, .container-1 {
    outline: none;
    background: #ffffff;
}

nav.label-search {
    position: absolute;
    right: 0;
}

p {
    line-height: 2rem;
}

nav.input-field {
    position: absolute;
    height: 35px;
    background: white;
    left: 220px;
    margin-top: 15px;
    width: 300px;
}

.material-icons:hover {
    cursor: pointer;
}

nav.material-icons {
    color: black;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.overlay-image{
    background-color:rgba(0,0,0,0.34);
}

.overlay-image-white{
    background-color:rgba(255,255,255,0.5);
}

.parallax-container .section {
    width: 100%;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

/*Hieu custom css*/
h2.menu-title {
    text-align: center;
    font-family: Roboto;
}

body{
    font-family: Roboto;
    background-color: #EEEEEE;
}

.card-title {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: left;
}

.transfer-box {
    background-color: black;
    opacity: 0.6;
}
.card-content {
    height: auto;
    padding: 8px !important;
}

.card-img-content {
    height: 230px
}

.contact {
    font-weight: bold;
}

h5.contact {
    text-align: center;
    font-weight: normal;
}

.youtube-background {
    width: 40px;
    height: 40px;
    background: #9E9E9E;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}

div.youtube-background:hover {
    width: 40px;
    height: 40px;
    background: #F44336;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}

.facebook-background {
    width: 40px;
    height: 40px;
    background: #9E9E9E;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    margin-left: 16px;
}

div.facebook-background:hover {
    width: 40px;
    height: 40px;
    background: #3F51B5;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}

.googleplus-background {
    width: 40px;
    height: 40px;
    background: #9E9E9E;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}

div.googleplus-background:hover {
    width: 40px;
    height: 40px;
    background: #F44336;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}

table td.contact-detail {
    width: 100px;
}

.light-text {
    color: rgba(255, 255, 255, 0.5) !important;
}

.logo-social {
    width: 24px;
    height: 24px;
    margin-top: 8px;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.group-social {
    display: inline-flex;
}

.logo-margin {
    margin-left: 16px;
}

.full-width {
    width: 100% !important;
}



.download-footer {
    display: inline-flex;
    width: 100%;
}

.margin-right-16{
    margin-right: 16px;
}

.no-margin-bottom{
    margin-bottom: 0px !important;
}

.margin-top-40{
    margin-top: 40px;
}

@font-face {
    font-family: "Beedu";
    src: local(Beedu Normal), url("../font/beedu-font/Baomoi_gdi.woff");
    src: url("../font/beedu-font/Baomoi_gdi.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "Beedu_Bold";
    src: local(Beedu Bold), url("../font/beedu-font/Baomoi-SemiBold_gdi.woff");
    src: url("../font/beedu-font/Baomoi-SemiBold_gdi.woff") format("woff");
    font-weight: normal;
}

.primary-font{
    font-size: 32px;
}

.font-28{
    font-size: 28px;
}

.font-20{
    font-size: 20px;
}

.width-90{
    width: 90%;
}

.blog-title{
    font-size: 24px;
    margin-top: auto;
}

.read-more{
    background-color: #2196F3;
    width: 75px;
    padding: 5px;
}

.blog-image{
    width: 252px;
    height: 173px;
}

.blog-content{
    margin-left: 20px;
}
.blog-item{
    padding: 20px;
    display: -webkit-box;
}

.blog-container{
    position: relative;
    background-color: #fff;
    transition: box-shadow .25s;
    margin-bottom: 20px;
    width: 90%;
}

.bg-white{
    background-color:  #ffffff !important;
}

.height-250{
    min-height: 250px !important;
}

.giasu-label{
    margin-bottom: 15px;
    line-height: 8px;
    background: #e7fcf9;
    padding-left: 10px;
    border-left: 10px solid #2196F3;
    margin-left: 8px !important;
}


/*Blog css*/

.feedback-title{
    font-size: 18px;
}

.feedback-description{
    font-size: 12px;
}

.feedback-content{
    font-size: 16px;
}

.font-24{
    font-size: 24px;
}

.font-18{
    font-size: 18px;
}

.font-16{
    font-size: 16px;
}

.font-14{
    font-size: 14px;
}

.quot-icon{
    width: 40px;
    height: 40px;
}

.quot-item{
    margin-bottom: 30px;
}

.intro-padding{
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 600px) {
    .blog-author{
        display: none;
    }

    .blog-description{
        display: none;
    }

    .read-more{
        display: none;
    }

    .blog-title{
        margin-top: 10px;
        font-size: 16px;
        text-align: center;
    }
}

@media only screen and (max-width: 902px) {
    .blog-author .blog-description .read-more{
        display: block;
    }
}

@media only screen and (min-width: 993px) {
    .blog-author .blog-description .read-more{
        display: block;
    }
}

.blog-avatar{
    width: 250px;
    height: 190px;
}